.vscode/**
.vscode-test/**
**/test/**
client/src/**
server/src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test-files
.vscode
**/node_modules
**/out/
**/src/
**/tsconfig.json
webpack.config*.js
client
server
package.json